<%= error_messages_for(:recipe) %>

<% edit_form_for(:recipe, recipe) do |form| %>
  <p>
    <%= form.label(:name, 'Name') %>
    <%= form.text_field(:name) %>
  </p>
  <p>
    <%= form.label(:base_weight, 'Base weight') %>
    <%= form.text_field(:base_weight) %>
  </p>
  <table class="edits_many">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'ingredient', :collection => recipe.ingredients %>
      <%= render :partial => 'ingredient', :object => Ingredient.new %>
    </tbody>
  </table>
  <p>
    <%= submit_tag('OK') %>
  </p>
<% end %>
