<% fields_for_ingredient(ingredient) do |fields| %>
  <% content_tag_for(:tr, ingredient) do %>
    <td>
      <% if ingredient.subrecipe %>
        <%=h ingredient.subrecipe.name %>
        <%= fields.hidden_field :subrecipe_id %>
      <% else %>
        <%= fields.text_field :name, :size => 20 %>
      <% end %>
    </td>
    <td>
      <%= fields.text_field :percent, :size => 5 %>
    </td>
    <td>
      <% if ingredient.new_record? %>
        <%= button_to_function('✚', 'addIngredient(this)', { :class => 'adder' }) %>
        <%= button_to_function('✖', 'deleteIngredient(this)', { :class => 'deleter', :style => 'display: none;' }) %>
      <% else %>
        <%= button_to_function('✖', 'deleteIngredient(this)', { :class => 'deleter' }) %>
      <% end %>
    </td>
  <% end %>
<% end %>
