<% breadcrumb(argumentize(@recipe.name.titleize), @recipe) %>
<% if @recipe.weight_unit_family != @recipe.base_weight_unit_family %>
  <% breadcrumb('system=' + @recipe.weight_unit_family) %>
<% end %>
<% if @recipe.scale != 1 %>
  <% breadcrumb(sprintf("scale=%g", @recipe.scale)) %>
<% end %>
<% form_tag(@recipe, :method => :get, :class => 'autosubmit') do %>
  <table id="ingredients">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Percent</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td class="percent"><%= @recipe.total_percent %></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="3">
          <label for="weight_unit_family">System:</label>
          <select name="weight_unit_family" id="weight_unit_family">
            <%= options_for_select(Recipe.weight_unit_families, @recipe.weight_unit_family) %>
          </select>
          <label for="scale">Scale:</label>
          <%= text_field_tag(:scale, sprintf('%g', @recipe.scale), :size => 3) %>
        </th>
      </tr>
    </tfoot>
    <tbody>
      <% @recipe.ingredients.each do |ingredient| %>
        <tr>
          <td>
            <% if ingredient.subrecipe %>
              <%= link_to h(ingredient.subrecipe.name), ingredient.subrecipe %>
            <% else %>
              <%= ingredient.name %>
            <% end %>
          </td>
          <td class="percent"><%= ingredient.percent %></td>
          <td><%= fractionize(ingredient.weight.to_s) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if !@recipe.preparation.blank? %>
  <p id="preparation">
    <%=h @recipe.preparation %>
  </p>
<% end %>
<p id="source">
  <% if @recipe.source %>
    <em><%=h @recipe.source %></em>
    <% if @recipe.source_page %>
      pp <%= @recipe.source_page %>
    <% end %>
  <% end %>
</p>
