<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= breadcrumbs_title %></title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheets %>
  <%= javascript_include_tag 'jquery', 'jquery.corner', 'application' %>
  <%= yield(:head) %>
</head>
<body>
  <div id="header">
    <div class="inner">
      <h1>$ <%= breadcrumbs_links %></h1>
      <% unless current_user.nil? %>
        <div id="login">
          <%=h current_user.login %>
          <%= button_to 'Logout', user_session_path, { :method => :delete } %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="content">
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
