<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% title = yield(:title) %>
  <title>Baker<%= title.nil? ? '' : " - #{h(title)}" %></title>
  <%= stylesheets %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= yield(:head) %>
</head>
<body>
  <div id="content">
    <% if title %>
      <h1><%=h title %></h1>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
